# 基础忽略规则
.DS_Store
*.log
*.swp
*.swo

# 依赖目录
node_modules/
.npm/
.yarn/

# 生成文件
public/
.deploy_git/
db.json

# 缓存文件
.cache/
.temp/

# 编辑器配置
.idea/
.vscode/
*.code-workspace

# 调试文件
debug.log
yarn-error.log